/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
    --color-accent: oklch(63.49% 0.1455 239.16);

    /*========== Colors ==========*/
    color-scheme: light; 
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;
    --border-color: oklch(50% 10% 200 / 40%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

:root.dark {
    --title-color: hsl(var(--hue), var(--sat), 80%);
    --title-color-dark: hsl(var(--hue), var(--sat), 100%);
    --text-color: hsl(var(--hue), var(--sat), 70%);
    --body-color: hsl(var(--hue), var(--sat), 8%);
    --container-color: hsl(var(--hue), var(--sat), 12%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margins ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}



/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 6rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    border-bottom: 1px solid oklch(80% 3% 200);
    margin-bottom: 0.5em;
    border-bottom-color: var(--border-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    --border-color: oklch(50% 10% 200 / 40%);

}

.nav__logo {
    color: inherit;
    text-decoration: none;
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
}

.nav__list {
    display: contents;
}

.nav__item {
    display: contents;
}

.nav__menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
    font-weight: var(--font-medium);
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.4em;
    background: transparent;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.nav__link:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

:root.dark .nav__link:hover {
    background-color: oklch(from var(--color-accent) 30% 10% h);
 }

.nav__link:hover::after,
.active-link::after {
    background: var(--color-accent);
}

.active-link {
    padding-bottom: 0.1em;
}

/* Update responsive styles */
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
        gap: 2rem;
        flex-direction: column;
    }

    .nav__link {
        padding: 0.75em;
    }

    .show-menu {
        bottom: 0;
    }
}

/*=============== HOME ===============*/
.home__container {
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 2rem;
    row-gap: 7rem;
}

.home__content {
    display: grid;
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark);
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
    line-height: 1.6;
}

.home__img {
    width: 300px;
    height: 300px;
    justify-self: center;
    border-radius: 50%;
    overflow: hidden;
}

/* Add these media query updates */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
        width: 200px;
        height: 200px;
    }

    .home__data {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }

    .home__hand {
        width: 22px;
        height: 22px;
    }
}

/*=============== ABOUT ===============*/
.about__container {
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    padding: 2rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__description {
    line-height: 1.6;
    margin-bottom: var(--mb-2-5);
}

@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__data {
        text-align: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}

/*=============== FOOTER ===============*/
.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 0 0rem;
    border-top-color: var(--border-color);
}

.footer__container {
    padding: 2rem 0;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social-icon {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer__social-icon:hover {
    background-color: var(--title-color-dark);
}

.footer__copy {
    display: block;
    margin-top: 2rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }

    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav__close:hover {
        color: var(--title-color-dark);
    }

    .nav__toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }

    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    :root {
        --big-font-size: 2.25rem;
    }

    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
}